<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container" style="margin-top: 4rem; margin-bottom: 6rem;">
        <div class="row">
            <div class="col-md-5 order-md-2">
                <img src="../assets/me.jpg" class="rounded-circle" height="500"/>
            </div>
            <div class="col-md-7 order-md-1">
                <ul class="intro-list">
                    <li><h1>#who <span class="text-muted">I am</span></h1></li>
                    <li><h4>I love technology.</h4></li>
                    <li><h4>I write <a href="https://github.com/sidroopdaska" target="_blank">code</a>.</h4></li>
                    <li><h4>I am passionate about Deep Learning &amp; Computer Vision.</h4></li>
                    <li><h4>I have an all-consuming interest in <a href="https://github.com/sidroopdaska/SelfDrivingCar" target="_blank">Self-Driving Cars</a>.</h4></li>
                    <li><h4>I work as a Full stack developer at Microsoft, Ireland.</h4></li>
                </ul>
            </div>
        </div>
    </div>

    {% include footer.html %}
  </body>

</html>
