<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Siddharth, Sharma, personal, website, blog, portfolio">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Source+Sans+Pro:400,700,200,300|Josefin+Sans:400,600,700,300'
    rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{{ " /css/style.css " | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml
    " | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ " /css/joinFiveAi.css " | prepend: site.baseurl }}">
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hello! My name is Siddharth Sharma</h1>
      <p class="lead">I would like to help Five.ai reach 'Five AI'</p>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-sm-4 why-fiveai-col'>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
          cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class='col-sm-4 why-fiveai-col'>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
          cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class='col-sm-4 why-fiveai-col'>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
          cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>

    <hr class='section-divider' />

    <div class="row">
      <div class="col-md-7">
        <h3 class="section-heading">First featurette heading.
          <span class="text-muted">It'll blow your mind.</span>
          </h2>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
            cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 text-center">
        <svg height="128px" version="1.1" viewBox="0 0 60 60" width="128px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title/>
          <desc/>
          <defs/>
          <g fill="none" fill-rule="evenodd" id="People" stroke="none" stroke-width="1">
            <g fill="#0177f4" id="Icon-71">
              <path d="M32,19 L32,41 C32,41.553 31.552,42 31,42 C30.448,42 30,41.553 30,41 L30,21.414 L25.707,25.707 C25.316,26.098 24.684,26.098 24.293,25.707 C23.902,25.316 23.902,24.684 24.293,24.293 L30.293,18.293 C30.579,18.006 31.008,17.919 31.383,18.076 C31.756,18.23 32,18.596 32,19 M30,58 C14.561,58 2,45.439 2,30 C2,14.561 14.561,2 30,2 C45.439,2 58,14.561 58,30 C58,45.439 45.439,58 30,58 M30,0 C13.458,0 0,13.458 0,30 C0,46.542 13.458,60 30,60 C46.542,60 60,46.542 60,30 C60,13.458 46.542,0 30,0"
                id="number-one" />
            </g>
          </g>
        </svg>
      </div>
    </div>
    <hr class='why-me-divider' />
    <div class="row">
      <div class="col-md-7 order-md-2">
        <h3 class="section-heading">Oh yeah, it's that good.
          <span class="text-muted">See for yourself.</span>
          </h2>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
            cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1 text-center">
        <svg height="128px" version="1.1" viewBox="0 0 60 60" width="128px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title/>
          <desc/>
          <defs/>
          <g fill="none" fill-rule="evenodd" id="People" stroke="none" stroke-width="1">
            <g fill="#0177f4" id="Icon-72">
              <path d="M26.707,38.707 C26.693,38.722 26.304,39.148 26.109,40 L35,40 C35.552,40 36,40.447 36,41 C36,41.553 35.552,42 35,42 L25,42 C24.448,42 24,41.553 24,41 C24,38.85 24.975,37.639 25.239,37.349 L32.21,28.386 C32.236,28.353 32.264,28.322 32.293,28.293 C32.307,28.278 34,26.526 34,24 C34,21.794 32.206,20 30,20 C27.794,20 26,21.794 26,24 C26,24.553 25.552,25 25,25 C24.448,25 24,24.553 24,24 C24,20.691 26.691,18 30,18 C33.309,18 36,20.691 36,24 C36,27.136 34.102,29.29 33.757,29.655 L26.79,38.614 C26.764,38.646 26.736,38.678 26.707,38.707 M30,58 C14.561,58 2,45.439 2,30 C2,14.561 14.561,2 30,2 C45.439,2 58,14.561 58,30 C58,45.439 45.439,58 30,58 M30,0 C13.458,0 0,13.458 0,30 C0,46.542 13.458,60 30,60 C46.542,60 60,46.542 60,30 C60,13.458 46.542,0 30,0"
                id="number-two" />
            </g>
          </g>
        </svg>
      </div>
    </div>
    <hr class='why-me-divider' />
    <div class="row">
      <div class="col-md-7">
        <h3 class="section-heading">And lastly, this one.
          <span class="text-muted">Checkmate.</span>
          </h2>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
            cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 text-center">
        <svg height="128px" version="1.1" viewBox="0 0 60 60" width="128px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title/>
          <desc/>
          <defs/>
          <g fill="none" fill-rule="evenodd" id="People" stroke="none" stroke-width="1">
            <g fill="#0177f4  " id="Icon-73">
              <path d="M36,36 C36,39.309 33.309,42 30,42 C26.691,42 24,39.309 24,36 C24,35.447 24.448,35 25,35 C25.552,35 26,35.447 26,36 C26,38.206 27.794,40 30,40 C32.206,40 34,38.206 34,36 C34,33.794 32.206,32 30,32 C29.666,32 29.354,31.833 29.168,31.555 C28.982,31.276 28.948,30.924 29.077,30.615 L33.5,20 L25,20 C24.448,20 24,19.553 24,19 C24,18.447 24.448,18 25,18 L35,18 C35.334,18 35.646,18.167 35.832,18.445 C36.018,18.724 36.052,19.076 35.923,19.385 L31.429,30.172 C34.05,30.814 36,33.184 36,36 M30,58 C14.561,58 2,45.439 2,30 C2,14.561 14.561,2 30,2 C45.439,2 58,14.561 58,30 C58,45.439 45.439,58 30,58 M30,0 C13.458,0 0,13.458 0,30 C0,46.542 13.458,60 30,60 C46.542,60 60,46.542 60,30 C60,13.458 46.542,0 30,0"
                id="number-three" />
            </g>
          </g>
        </svg>
      </div>
    </div>

    <hr class='section-divider' />

    <section id="timeline" class="timeline-container">
      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-book-img.svg" alt="Book">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h2>Title of section 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat
            iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
          <a href="#0" class="read-more">Read more</a>
          <span class="cd-date">Jan 14</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->

      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-code-img.svg" alt="Code">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h2>Title of section 2</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat
            iure tempora laudantium ipsa ad debitis unde?</p>
          <a href="#0" class="read-more">Read more</a>
          <span class="cd-date">Jan 18</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->

      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-code-img.svg" alt="Code">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h2>Title of section 3</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores
            voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae
            rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus
            quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem
            voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
          <a href="#0" class="read-more">Read more</a>
          <span class="cd-date">Jan 24</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->

      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-code-img.svg" alt="Code">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h2>Title of section 4</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat
            iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
          <a href="#0" class="read-more">Read more</a>
          <span class="cd-date">Feb 14</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->

      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-code-img.svg" alt="Code">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h2>Title of section 5</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
          <a href="#0" class="read-more">Read more</a>
          <span class="cd-date">Feb 18</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->

      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-code-img.svg" alt="Code">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h2>Final Section</h2>
          <p>This is the content of the last section</p>
          <span class="cd-date">Feb 26</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->
    </section>
    <!-- timeline -->
  </div>
  <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip"
    data-placement="left">
    <span class="fa fa-chevron-up text-white"></span>
  </a>

  {% include footer.html %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {

      var $timeline_block = $('.timeline-block');
      $timeline_block.each(function () {
        $(this).find('.timeline-img, .timeline-content').addClass('is-hidden');
      });

      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }

        $timeline_block.each(function () {
          if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.timeline-img').hasClass('is-hidden')) {
            $(this).find('.timeline-img, .timeline-content').removeClass('is-hidden').addClass('bounce-in');
          }

          // if ($(this).offset().top > $(window).scrollTop() + $(window).height()) {
          //   $(this).find('.timeline-img, .timeline-content').addClass('is-hidden').removeClass('bounce-in');
          // }
        });
      });
      // scroll body to 0px on click
      $('#back-to-top').click(function () {
        $('#back-to-top').tooltip('hide');
        $('body,html').animate({
          scrollTop: 0
        }, 500);
        return false;
      });

      $('#back-to-top').tooltip('show');
    });
  </script>
</body>

</html>