<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Siddharth, Sharma, personal, website, blog, portfolio">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Source+Sans+Pro:400,700,200,300|Josefin+Sans:400,600,700,300'
    rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{{ " /css/style.css " | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml
    " | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ " /css/joinFiveAi.css " | prepend: site.baseurl }}">
</head>

<body>
  <div class="jumbotron jumbotron-fluid intro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 order-md-2 text-center intro-img">
          <img src="../assets/me-edited.png" height=500/>
        </div>
        <div class="col-lg-6 order-lg-1 intro-desc">
          <h1 class="display-4">Hello! My name is
            <a href="/index.html">Siddharth Sharma</a>
          </h1>
          <h3>I would like to help
            <span class="intro-highlight">Five.ai</span> reach 'Five AI' as a
          </h3>
          <h3 class="desc2">
            <span class="intro-highlight">Deep Learning &amp; Computer Vision</span> Research Engineer
            <span class="blink">|</span>
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div style="text-align:center">
      <h2>#why
        <span class="text-muted">Five.ai</span>
      </h2>
    </div>
    <div class='row'>
      <div class='col-lg-4 why-fiveai-col'>
        <img src="../assets/wheel-img.svg" alt="Code" class="why-fiveai-img">
        <p>Your <span class="lead font-weight-bold">mission</span> to deliver truly intelligent autonomous vehicles (i.e. Level 5 autonomy)
          and bring about a radical transformation in the automotive industry 
          perfectly aligns with my personal goals.</p>
      </div>
      <div class='col-lg-4 why-fiveai-col'>
        <img src="../assets/leader-img.svg" alt="Code" class="why-fiveai-img">
        <p>I believe in the <span class="lead font-weight-bold">vision</span> and <span class="lead font-weight-bold">leadership</span>
          capabilities of <span class="lead font-weight-bold">Stan Boland</span>, who
          as a veteran serial enterpreneur, has proved himself time and again as being able to successfully identify market gaps early on
          and create true customer value. He has a talent for building teams that execute successfully on a global level, and I would like to
          be a part of that ensemble and contribute to its goal.
        </p>
      </div>
      <div class='col-lg-4 why-fiveai-col'>
        <img src="../assets/world-img.svg" alt="Code" class="why-fiveai-img">
        <p>Well, <span class="lead font-weight-bold">I'm selfish!</span> I have worked with different technologies over
          the past two years ranging from Embedded Systems to Full stack Web Development. But working for Five.ai's Deep Learning team
          is a different kind of beast. Creating truly autonomous vehicles that have the potential to bring about a paradigm shift in how we commute
          is both exciting and scary. Mostly exciting though.
          By working for Five.ai, I’ll directly improve my life along with the lives of millions of others. Everybody wins! </p>
      </div>
    </div>

    <hr class='section-divider' />

    <div style="text-align:center; margin-top: -2rem; margin-bottom: 4rem;">
      <h2>#why
        <span class="text-muted">me</span>
      </h2>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h3 class="section-heading">Passionate about Self-Driving Cars.
          <span class="text-muted"></span>
        </h3>
        <p>A chance encounter with this new technology spurred into what has now become
          an <span class="font-weight-bold">all-consuming interest</span> in autonomous vehicles.
          No one asked me to learn new skills and develop <a href="https://github.com/sidroopdaska/SelfDrivingCar" target="_blank">experiences</a> for this field.
          And certainly, no one asked me to sign away most of my weekends and time after work for the
          9-month long Self-Driving Car course at Udacity. What's keeping me going is the <span class="font-weight-bold">sheer desire</span> to work on Self-Driving Cars!
        </p>
      </div>
      <div class="col-md-5 text-center">
        <img src="../assets/why-me-1.svg" height=120/>
      </div>
    </div>
    <hr class='why-me-divider' />
    <div class="row">
      <div class="col-md-7 order-md-2">
        <h3 class="section-heading">Habit of embracing risk.
          <span class="text-muted">Saying "yes!" to building careers in cutting edge fields.</span>
        </h3>
        <p>I’ve always been motivated by innovation and disrupting markets. I think there is a real <span class="font-weight-bold">thrill</span>
          that comes with jumping into a new industry, helping it to grow, and making things better.
          Be it my leap from Electronics to Frontend development and now to Self-Driving cars,
          I have a willingness to say <span class="font-weight-bold">“yes!”</span> to new opportunities,
          and a commitment to lifelong learning.</p> 
      </div>
      <div class="col-md-5 order-md-1 text-center">
          <img src="../assets/why-me-2.svg" height=120/>
      </div>
    </div>
    <hr class='why-me-divider' />
    <div class="row">
      <div class="col-md-7">
        <h3 class="section-heading">Incessant knack to understand things.
          <span class="text-muted"></span>
        </h3>
        <p>I love to code (heck, even this website was developed with <a href="https://github.com/sidroopdaska/sidroopdaska.github.io" target="_blank">code</a>).
          But equally importantly, I have this innate desire to develop a strong understanding for how things works and why.
          You will see me spend good chunk
          of my time reading research papers, prototyping and testing different ideas to deconstruct the internals of things.</p>
      </div>
      <div class="col-md-5 text-center">
          <img src="../assets/why-me-3.svg" height=120/>
      </div>
    </div>
    <hr class='why-me-divider' />
    <div class="row">
      <div class="col-md-7 order-md-2">
        <h3 class="section-heading">Willingness to bring about a change.
          <span class="text-muted">Improve existing processes.</span>
        </h3>
        <p>My interest in software stems from its ability to facilitate rapid Time to Market, thus
          creating business value. As a result, I'm always on the look out to develop or leverage
        new tools or processes that can promote this. A recent example of this is when I introduced
        new frontend pipeline at work that improved the Page Load performance by 85% and developer time by 90%.</p>
      </div>
      <div class="col-md-5 order-md-1 text-center">
          <img src="../assets/why-me-4.svg" height=120/>
      </div>
    </div>
    <hr class='section-divider' />
    <div style="text-align:center; margin-top: -2rem; margin-bottom: 4rem;">
      <h2>#what
        <span class="text-muted">I have done so far</span>
      </h2>
    </div>
    <section id="timeline" class="timeline-container">
      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-duck-img.svg" alt="Book">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h3>Inception</h3>
          <p>My interest in Self-Driving Cars sparked when one of my colleagues at Microsoft, Ireland showed me a Youtube video
            of
            <a href="https://www.youtube.com/watch?v=b0B6S2Ca75Q" target="_blank">Ducky Town</a>, an advanced autonomy project at MIT. I was so captivated by the outcome of the project that I
            decided to recreate it a month later at our local Hackathon.
          </p>
          <a href="https://github.com/sidroopdaska/SelfDrivingRCCar" class="read-more" target="_blank">Self Driving RC Car</a>
          <span class="cd-date">Jun 2017</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->

      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-book-img.svg" alt="Code">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h3>Taste of ML and Computer Vision</h3>
          <p>This chance encounter with a new set of techologies (while hacking away at my 
              <a href="https://github.com/sidroopdaska/SelfDrivingRCCar" target="_blank">Self Driving RC Car</a> project) spurred
            into an <strong>all-consuming interest in autonomous vehicles</strong>. Despite the uncertainties that come with an emerging industry,
            I was deeply excited by the possibilities. Upon researching the industry I could immediately
            see its transformational abilities. Hence, I began my journey to get involved with the challenges this new frontier
            presented—challenges that would require new skills and different experiences to be a success.</p>

          <p>To develop the right skill set, I started with the canonical course on
            <strong>ML by Andrew Ng</strong>. Shortly after it's completion, I enrolled into the
            <strong>Self-Driving Car Nanodegree</strong> at
            <strong>Udacity</strong>. As a first step in the program, I leveraged traditional computer vision techniques to
            develop a naive algorithm for <span class="font-weight-bold">lane line detection</span>.
          </p>
          <a href="https://github.com/sidroopdaska/SelfDrivingCar/tree/master/NaiveLaneLinesDetection" class="read-more" target="_blank">Learn more</a>
          <span class="cd-date">July 2017</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->

      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-code-img.svg" alt="Code">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h3>Getting "deep" into Deep Learning</h3>
          <p>I spent the next one month learning the in's and out's of Deep Neural Networks. This spanned topics such as: pre-processing,
            regularisation, optimisation techniques, learning curves, etc. to name a few. I even developed my own mini neural network library
            to demystify backpropagation and computational graphs.
          </p>
          <p> During this time, I picked up tools such as <strong>TensorFlow, NumPy, Pandas and Scikit-Learn </strong>and started using them on
            a day-to-day basis. Projects:</p>
          <ul>
            <li>
              <a href="https://github.com/sidroopdaska/SelfDrivingCar/tree/master/Miniflow" target="_blank">Miniflow</a>
            </li>
            <li>
              <a href="https://github.com/sidroopdaska/SelfDrivingCar/blob/master/TensorFlowPlayground/visualising_gd_optimisation_techniques.ipynb"
                target="_blank">Visualisation of Gradient Descent optimisation algorithms</a>
            </li>
          </ul>
          <span class="cd-date">Oct 2017</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->

      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-code-img.svg" alt="Code">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h3>Convolutional Neural Networks</h3>
          <p>Armed with the knowledge of DNN and it's frameworks, I next tackled the internals and real world applications of
            Convolutional Neural Networks. In doing so, I built a model using CNN's to <span class="font-weight-bold">classify traffic signs</span>.
          </p>
          <a href="https://github.com/sidroopdaska/SelfDrivingCar/tree/master/TrafficSignClassifier" target="_blank" class="read-more">Learn more</a>
          <span class="cd-date">Nov 2017</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->

      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-code-img.svg" alt="Code">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h3>Keras, Transfer Learning &amp; Behavioural Cloning</h3>
          <blockquote>"Don't be a hero! Use whatever works best on ImageNet" @karpathy</blockquote>
          <p>Inspired by this quote from Andrej Karpathy, I set out to take pre-existing models and finetune
            them for related but different tasks. During this process, I also picked up Keras (due to its appeal of rapid
            protytping and testing). To validate my learnings, I created an end-to-end Deep Learning solution for self-driving
            cars in a simulated environment. This project was inspired by
            <a href="http://images.nvidia.com/content/tegra/automotive/images/2016/solutions/pdf/end-to-end-dl-using-px.pdf" target="_blank">Nvidia's research paper</a>.
          </p>
          <a href="https://github.com/sidroopdaska/SelfDrivingCar/tree/master/BehaviouralCloning" target="_blank" class="read-more">Learn more</a>
          <span class="cd-date">Nov 2017</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->

      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-code-img.svg" alt="Code">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h3>Computer Vision: Deep Dive</h3>
          <p>Having developed a skill set in Deep Learning and practiced it's application in Computer Vision, I decided to explore
            the other end of the spectrum by focusing on
            <strong>'traditional'</strong> Computer Vision techniques. This endeavour resulted in me learning topics such as - camera
            calibration, distortion correction, image transforms, gradients, edge detection, HOG feauture descriptors, SVM's,
            etc.</p>
          <p>To translate these learning into real world applications, I implemented the following:</p>
          <ul>
            <li>
              <a href="https://github.com/sidroopdaska/SelfDrivingCar/tree/master/AdvancedLaneLinesDetection" target="_blank">Advanced Lane Finding algorithm</a>
            </li>
            <li>
              <a href="https://github.com/sidroopdaska/SelfDrivingCar/tree/master/VehicleDetectionAndTracking" target="_blank">Vehicle Detection &amp; Tracking pipeline</a>
            </li>
          </ul>
          <span class="cd-date">Dec 2017</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->

      <div class="timeline-block">
        <div class="timeline-img">
          <img src="../assets/timeline-search-img.svg" alt="Code">
        </div>
        <!-- timeline-img -->

        <div class="timeline-content">
          <h3>Next steps...</h3>
          <p>As a next step, I aim to work on the Robotics approach to autonomous vehicle system development
            by building core functionalities like Sensor Fusion, Localisation and Control.
          </p>
          <p><strong>More importantly</strong>, I'm now looking to <strong>join</strong> <strong>Five.ai</strong>
            as it provides me the most opportunity for learning and growth by working alongside world-class automotive
            engineers. And, also because I believe the team can benefit from the experience I have built so far.
          </p>
          <span class="cd-date">Jan 2018</span>
        </div>
        <!-- timeline-content -->
      </div>
      <!-- timeline-block -->
    </section>
    <!-- timeline -->
    <div class="row justify-content-center">
        <h4>I believe we make a <span class="font-weight-bold conclusion">perfect match</span> Five.ai!</h4>
    </div>
    <div class="row justify-content-center">
        <p>If you do too, drop me a line at <a target="_blank" href="mailto:hey@siddharthsharma.io">hey@siddharthsharma.io</a></p>
    </div>
  </div>
  <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip"
    data-placement="left">
    <span class="fa fa-chevron-up text-white"></span>
  </a>

  {% include footer.html %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {

      var $timeline_block = $('.timeline-block');
      $timeline_block.each(function () {
        $(this).find('.timeline-img, .timeline-content').addClass('is-hidden');
      });

      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }

        $timeline_block.each(function () {
          if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.timeline-img').hasClass('is-hidden')) {
            $(this).find('.timeline-img, .timeline-content').removeClass('is-hidden').addClass('bounce-in');
          }

          // if ($(this).offset().top > $(window).scrollTop() + $(window).height()) {
          //   $(this).find('.timeline-img, .timeline-content').addClass('is-hidden').removeClass('bounce-in');
          // }
        });
      });
      // scroll body to 0px on click
      $('#back-to-top').click(function () {
        $('#back-to-top').tooltip('hide');
        $('body,html').animate({
          scrollTop: 0
        }, 500);
        return false;
      });

      $('#back-to-top').tooltip('show');
    });
  </script>
</body>

</html>